!!!
%html
  %head
    %title Semana Internacional de Comunicação

  %body
    %h3 Sua inscrição para a SECOM foi realizada!

    %p Abaixo segue sua programação para o evento:
    %hr
    - @participante.eventos.each do |evento|
      %p
        %strong= evento.descricao
      %p
        %i= evento.palestrante
      %p
        %strong Horário:
        = "#{evento.dia} - #{evento.horario}"
      %p
        %strong Sala:
        = "#{evento.sala}"
      %hr

