/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require custom_bootstrap/custom_bootstrap
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Oxygen:700,400,300);

/* Base structure */
html, body {
    padding-top: 30px;
    height: 100% !important;
    font-size: 16px;
    line-height: 1.8;
    font-family: "Oxygen", sans-serif;
    color: #383A44;
}

.grey-color {
  color: #C9C9C9;
}

.evento {
  padding-right: 50px;
  padding-top: 20px;
}

.collection_radio_buttons {
  padding: 0 10px;
}

.secondary-color {
  color: #015382;
}

.primary-color {
  color: #D01320;
}

.navbar-fixed-top {
  border: 0;
}

.btn.btn-default {
  background-color: #015382;
  color: #ffffff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #f0f0f0;
}

.navbar-inverse {
  background-color: #015382;
}

.navbar-admin {
  background-color: #000000;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #fdfdfd;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

