body {
  margin: 0px;
  padding: 0px;
  width: 900px;
  height: 636px;
}

#certificate_box {
  background-image: image-url('secom_logo.jpg');
  width: 900px;
  height: 636px;
}

#participant_name {
  position: absolute;
  top: 235px;
  left: 510px;
  font-family: "Times New Roman";
  font-size: 2em;
}