@import url(http://fonts.googleapis.com/css?family=Lato:700,400,200);

html, body {
    padding-top: 30px;
    height: 100% !important;
    font-size: 16px;
    line-height: 1.8;
    font-family: "Lato", sans-serif;
    color: #383A44;
}

.grey-color {
  color: #C9C9C9;
}

.evento {
  padding-right: 50px;
  padding-top: 20px;
}

.collection_radio_buttons {
  padding: 0 10px;
}

.secondary-color {
  color: #5C0E42;
}

.primary-color {
  color: #B54E98;
}