.evento.col-sm-12{class: col_class}
  .primary-color
    %strong= evento.descricao
  %br
  %i
    = evento.palestrante
  %br
  %br
  = "Sala: #{evento.sala}"
  %br
  %br
  - if evento.lotado?
    .primary-color
      ESGOTADO
  - else
    = check_box("evento", "#{evento.id}", { "class" => "evento-checkbox", "codigo_horario" => evento.codigo_horario })
  %strong Participar
  .visible-xs-inline.visible-sm-inline
    %br
    %br