.col-md-3.col-sm-12
  .secondary-color
    = sala.descricao
  %br
  %i
    = sala.palestrante
  %br
  %br
  .primary-color
    = check_box("option", "#{sala.numero}")
    %strong Participar
  .visible-xs-inline.visible-sm-inline
    %br
    %br