%h3 Certificado SECOM
.row
  .col-md-4
    %br
    = form_tag '/participantes/buscar' do
      = label_tag "Digite seu RG (apenas números):"
      = text_field_tag "rg", nil, class: "form-control"
      %br
      %input.btn.btn-default{type: "submit", value: "Baixar certificado"}