= simple_form_for(@participante) do |f|
  %br
  * = Campo obrigatório
  %br
  %h3.primary-color Dados Pessoais
  %br
  .row
    .col-md-6.col-sm-12
      = f.input :nome, label: "Nome completo:"
      = f.input :escolaridade , :collection => Participante::ESCOLARIDADES, as: :select, label: "Escolaridade:"
      = f.input :curso, :label => "Curso:"
    .col-md-6.col-sm-12
      = f.input :rg, label: "RG:"
      = f.input :instituicao, :label => "Instituição de ensino:"

  %hr
  %h3.primary-color Servidor municipal
  %br
  .row
    .col-md-6
      = f.collection_radio_buttons :servidor_municipal, [[false, 'Não'], [true, 'Sim']], :first, :last, checked: false
      %br
      %br
      = f.input :unidade_trabalho, label: "Unidade de trabalho:"
  %hr
  %h3.primary-color Contato
  .row
    .col-md-6.col-sm-12
      = f.input :email, label: "Email:", input_html: { class: "email" }
      = f.input :email_confirmation, label: "Confirmar email:", input_html: { class: "email" }
    .col-md-6.col-sm-12
      = f.input :telefone_celular, label: "Tel. Celular:", input_html: { class: "phone" }
      = f.input :telefone_fixo, label: "Tel. Fixo:", input_html: { class: "phone" }

  %hr
  %h3.primary-color Endereço
  .row
    .col-md-6.col-sm-12
      = f.input :cep, label: "CEP:", input_html: { class: "cep" }
      = f.input :logradouro, label: "Logradouro:", :input_html => { :readonly => true, class: "logradouro" }
      = f.input :numero, label: "Número:"
    .col-md-6.col-sm-12
      = f.input :cidade, label: "Cidade:", :input_html => { :readonly => true, class: "cidade" }
      = f.input :estado, label: "Estado:", :input_html => { :readonly => true, class: "estado" }
      = f.input :complemento, label: "Complemento:"

  %hr
  %h3.primary-color Escolha sua programação
  %br

  %br
  - @eventos_array.each do |eventos|
    .row
      .col-md-12.col-sm-12
        %h4= "#{eventos.first.dia} - #{eventos.first.horario}"
    .row
      - eventos.each do |evento|
        = render partial: "evento", locals: {evento: evento, col_class: eventos.count > 2 ? "col-md-3" : "col-md-6"}
    %hr
  %br
  = f.button :submit, "Realizar inscrição", data: { confirm: "Finalizar inscrição? Após confirmação seus dados e sua programação não poderão ser alterados." }
%br
%br