%h3.primary-color Relatório de inscritos
- @participantes.each do |participante|
  %hr
  %p="#{participante.nome} - Cel: #{participante.telefone_celular} - Email: #{participante.email}"
  %p=participante.todos_eventos
  %p="Total: #{participante.eventos.count} salas"