!!!
%html
  %head
    %title Semana Internacional de Comunicação
    = stylesheet_link_tag    'application', media: "all"
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .row
          .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
            .navbar-header
              %a.navbar-brand{href: root_url}
                3ª Semana Internacional de Comunicação - Inscrições
            .collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  = link_to "Ir para o Site oficial - SECOM", "http://semanaintercom.com.br"

    .container-fluid
      .row
        .col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
          - flash.each do |type, message|
            .row
              .col-md-10{class: "alert #{bootstrap_class_for(type)} fade in"}
                %button.close.glyphicon.glyphicon-remove-circle{'data-dismiss' => "alert"}
                = message
          = yield
